
body {
  background-image: url("../pictures/skyscraper.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  }
h1 {
  text-align: center;
  color: black;

}
.content{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;

}
input {
  font-family: monospace;
  border-radius: 40px;
  text-align: center;
  width: 30%;
  height: 40%;
  padding: 10px;
  border: 1px gray solid
  background-color: #4CAF50;} /* Green */
  font-size: 50px;
 }
input:hover{
  font-family:cursive;
}
.content{
  border-radius: 00px
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
.button{

}
button:hover{
  background-color: blue;
}
