
body {
  background-image: url("../pictures/skyscraper.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  }
h1 {
  text-align: center;
  color: black;

}
button {
  
}
